@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
  display: flex;
}
